/* globais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --rosa-claro:hsl(330, 100%, 98%);
    --rosa-escuro:hsl(332, 51%, 32%);
    --marron:hsl(14, 45%, 36%);
    --pedra-900:hsl(24, 5%, 18%);
    --pedra-600:hsl(30, 10%, 34%);
    --pedra-150:hsl(30, 18%, 87%);
    --pedra-100:hsl(30, 54%, 90%);
    --branco:hsl(0, 0%, 100%);

    /* fontes */

    --fs-xxl: 2.25rem;
    --fs-xl: 1.75rem;
    --fs-lg:1.25rem;
    --fs-md: 1rem;
}

/* classes para variáves das fontes */

.eg-text{
    font-size: var(--fs-xxl);
    font-weight: 500;
    line-height: 1;
    color: var(--pedra-900);
    font-family: 'Young Serif', serif;
    padding-block-start: 1.25rem;
}

.g-text {
    font-size: var(--fs-xl);
    color: var(--marron);
    font-weight: 500;
    padding-block-end: 0.9375rem;
    font-family: 'Young Serif', serif;
}

.m-text {
    font-size: var(--fs-lg);
    color: var(--rosa-escuro);
    padding-block-end: 0.9375rem;
}

.p-text {
    font-size: var(--fs-md);
    color: var(--pedra-600);
    line-height: 1.5;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Outfit', sans-serif;

}

main {
    max-width: 45rem;
    background-color: var(--branco);
}

.container-hero {
    max-width: 45rem;
}

.container{
    max-width: 45rem;
    padding: 0.9375rem 2rem;
}

.hero img {
    max-width: 45rem;
    width: 100%;
    height: auto;
}

.hero-text p {
    padding-block-start: 1.5625rem;
    padding-block-end: 1.25rem;
    line-height: 1.5;
    font-size: 1rem;
}

.container-preparation-time {
    max-width: 45rem;
    padding: 0 1.875rem;
    margin-block-end: 0.625rem;
}

.preparation-time {
    background-color: var(--rosa-claro);
    padding: 1.25rem 1.875rem 0.9375rem 1.875rem;
    border-radius: 0.625rem;
}

.preparation-time ul {
    padding-inline-start: 1.5625rem;
}

 .ingredients ul, ol {
  padding-inline-start: 1.5625rem;
  margin-block-end: 1.875rem;
}

li {
  padding-inline-start: 1rem;  
  margin-block-end: 0.625rem;  
}

tr td:nth-child(1){
    font-size: var(--fs-md);
    color: var(--pedra-600);
}


li::marker, tr td:nth-child(2) {
  color: hsl(14, 45%, 36%); 
  font-weight: bold;
}


.ingredients, .instructions {
    border-bottom: 1px solid var(--pedra-150);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.25rem 0
}


td {
    padding: 0.75rem;
    border-bottom: 1px solid var(--pedra-150);
}


@media (min-width: 45.0625rem) {
    body{
        background-color: var(--pedra-100);
        margin: 7.5rem auto 0 auto;
        align-items: center;
        
    }

    main {
        border-radius: 1.25rem;
        padding: 2.5rem;
    }

    .container, .container-preparation-time {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

    

    .hero-image {
        border-radius: 1.25rem;
    }

    .attribution {
        padding: 1.875rem;
    }


}













