/* globais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --rosa-claro:hsl(330, 100%, 98%);
    --rosa-escuro:hsl(332, 51%, 32%);
    --marron:hsl(14, 45%, 36%);
    --pedra-900:hsl(24, 5%, 18%);
    --pedra-600:hsl(30, 10%, 34%);
    --pedra-150:hsl(30, 18%, 87%);
    --pedra-100:hsl(30, 54%, 90%);
    --branco:hsl(0, 0%, 100%);

    /* fontes */

    --fs-xxl: 2.25rem;
    --fs-xl: 1.75rem;
    --fs-lg:1.25rem;
    --fs-md: 1rem;

    /* espaçamentos */

    --space-sm: 0.5rem;
    --space-md: 1.25rem;
    --space-lg: 1.5625rem;
    --space-xl: 1.875rem;
    --space-xxl: 2.5rem;
}

/* classes para variáves das fontes */

.eg-text{
    font-size: var(--fs-xxl);
    font-weight: 500;
    line-height: 1;
    color: var(--pedra-900);
    font-family: 'Young Serif', serif;
    padding-block-start: var(--space-md);
}

.g-text {
    font-size: var(--fs-xl);
    color: var(--marron);
    font-weight: 500;
    padding-block-end: 0.9375rem;
    font-family: 'Young Serif', serif;
}

.m-text {
    font-size: var(--fs-lg);
    color: var(--rosa-escuro);
    padding-block-end: 0.9375rem;
}

.p-text {
    font-size: var(--fs-md);
    color: var(--pedra-600);
    line-height: 1.5;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Outfit', sans-serif;

}

main {
    background-color: var(--branco);
}

main, .container-hero, .container, .hero-image, .container-preparation-time {
    max-width: 45rem;
}

.container{
    padding: 0.9375rem 2rem;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text p {
    padding-block-start: 1.5625rem;
    padding-block-end: var(--space-md);
    line-height: 1.5;
    font-size: 1rem;
}

.container-preparation-time {
    padding: 0 1.875rem;
    margin-block-end: var(--space-sm);
}

.preparation-time {
    background-color: var(--rosa-claro);
    padding: 1.25rem 1.875rem 0.9375rem 1.875rem;
    border-radius: var(--space-sm);
}

.preparation-time ul {
    padding-inline-start: 1.5625rem;
}

 .ingredients ul, .instructions ol {
  padding-inline-start: 1.5625rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--pedra-150);
  
}

li {
  padding-inline-start: 1rem;  
  margin-block-end: var(--space-sm);  
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

table th {
    font-size: var(--fs-md);
    color: var(--pedra-600);
    font-weight: normal; /* Para não ficar negrito por padrão */
    text-align: left;    /* Garante alinhamento à esquerda */
    padding: 0.75rem;
    border-bottom: 1px solid var(--pedra-150);
}

table td {
    padding: 0.75rem;
    border-bottom: 1px solid var(--pedra-150);
    color: var(--marron); 
    font-weight: bold;
}

table tr:last-child th,
table tr:last-child td {
    border-bottom: none;
}


li::marker, tr td:nth-child(2) {
  color: var(--marron); 
  font-weight: bold;
}


.ingredients, .instructions {
     
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: var(--space-md) 0
}


.attribution { 
    font-size: 0.6875rem; text-align: center;
}
.attribution a { 
    color: var(--marron); 
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 45.0625rem) {
    body{
        background-color: var(--pedra-100);
        margin: 7.5rem auto 0 auto;
        align-items: center;
        
    }

    main {
        border-radius: var(--space-md);
        padding: 2.5rem;
    }

    .container, .container-preparation-time {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

    

    .hero-image {
        border-radius: var(--space-md);
    }

    .attribution {
        padding: 1.875rem;
    }


}













